
:root{
    --bg : url('https://images.unsplash.com/photo-1709927628742-c3da31d7707f');
}
html{
    background-color: #000000;
}

body{
    background:black;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    transition: 300ms;
}


.quizDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    color: white;
    transition: 300ms;
    backdrop-filter: blur(12px);
}
.quizDisplay>h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    transition: 300ms;
    text-align: center;
    height: auto;
}

.quizDisplay>h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    transition: 300ms;
    text-align: center;
    height: auto;
}

.scoreMaster{
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    
}

.scoreCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 100%;
    font-size: 50px;
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 10px;
    transition: 300ms;

}
.scoreCard>p{
    margin: 0px;
}
.scoreCard>p:nth-child(1){
    font-size: 2rem;
}

.controlCenter{
    position: absolute;
    width: 95vw;
    height: 95vh;
    background-color: #2a2a2a;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
    padding: 6px;
    border-radius: 12px;
    gap: 6px;
}
.controlCenter>div{
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    outline: 2px solid rgb(54, 54, 54);
}
.qPreview{
    grid-row: 1;
    grid-column: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: default;
}

.qPreview>h3{
    font-size: 1rem;
    margin: 0;
    transition: 300ms;
}

.qControl{
    grid-row: 1;
    grid-column: 2;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.qControl>button{
    width:45%;
    height: 90%;
    border-radius:12px;
    background-color: #101042;
    border: 2px solid rgb(56, 56, 56);
    font-size: 2rem;
    color: #00c3ff;
    transition: 300ms;
    cursor: pointer;
    font-size: 4rem;
    box-shadow: 0px 0px 0px 2px #00c3ff;
}
.qControl>button:hover{
    background-color:rgb(0, 255, 255);
    box-shadow: 0px 0px 21px 2px #00c3ff;
    color:  #101042;
}

.controlSwitch{
    grid-row: 1;
    grid-column: 3;
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
    padding: 3px;
}

.controlSwitch>.switch{
    background-color: #2b2b2b;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    user-select: none;
    transition: 120ms;
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    /* box-shadow: 0px 0px 0px 2px #00c3ff; */
}

/* .controlSwitch>.switch:hover{
    background-color: #161616;
    
    color:  #00ffd9;
} */

.controlSwitch>.switch:hover .switchStatus{
    background-color: #00ffd9;
}
.controlSwitch>.switch>.switchStatus{
    width: 24px;
    height: 4px;
    position: absolute;
    top: 4px;
    transition: 120ms;

}



.controlSwitch>.active>.switchStatus{
    background-color: rgb(136, 255, 0);
}
.controlSwitch>.inactive>.switchStatus{
    background-color: rgb(11, 11, 11);
}
.controlSwitch>.disabled>.switchStatus{
    background-color: rgb(11, 11, 11);
}
.controlSwitch>.orange>.switchStatus{
    background-color: #ff8c00;
}

.controlSwitch>.active{
    color: #00ffff;
}
.controlSwitch>.inactive{
    color: #181818;
}

.controlSwitch>.disabled{
    cursor: not-allowed;
    color: #393939;
    background-color: #161616;
}
.controlSwitch>.disabled:hover{
    color:red;
}
.controlSwitch>.disabled:hover>.switchStatus{
    background-color: #ff0000;
}

.controlSwitch>.orange{
    color: #ff8c00;
}


.questionLoader{
    grid-row: 2;
    grid-column: 1/1;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    transition: 300ms;
    position: relative;
    overflow: hidden;
}
.markSettings{
    grid-row: 3;
    grid-column: 1/1;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    transition: 300ms;
    position: relative;
    overflow: hidden;
}

.questionLoader>div:nth-child(3){
    height: 4px;
    width: 100%;
    background-color: #000000;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: flex-start;
}
#qstatus{
    height: 100%;
    transition: 400ms;
    width: 0%;
    background: #00c3ff;
}

.questionLoader>button{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #1b1b1b;
    border: 2px solid rgb(74, 74, 74);
    font-size: 24px;
    color: #00c3ff;
    transition: 300ms;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px #000000;
}

.questionLoader>button:hover{
    background-color:rgb(0, 255, 255);
    box-shadow: 0px 0px 21px 2px #00c3ff;
    color:  #101042;
}

.scoreChart{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    transition: 300ms;
    position: relative;
    overflow: hidden;
}
.scoreChart>.scoreCard{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    transition: 300ms;
    position: relative;
    overflow: hidden;
}
.scoreChart>.scoreCard>input{
width: 100%;
height: 50%;
background: none;
border: 2px solid #00c3ff00;
text-align: center;
color: #00c3ff;
font-size: 2rem;
transition: 300ms;
border-radius: 12px;
}


.scoreChart>.scoreCard>input:focus{
    outline: none;
    border: 2px solid #00c3ff;
}